    </div>
    </div>
    <footer id="footer">
        <a href="https://www.facebook.com/cestadtc" target="_blank"><i class="logo fa fa-facebook-f"></i></a>
        <a href="https://instagram.com/cesta_dtc?igshid=YmMyMTA2M2Y=" target="_blank"><i class="logo fa fa-instagram"></i></a>
        <a href="https://github.com/cestasociety" target="_blank"><i class="logo fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/company/cesta-computer-science-club-of-delhi-technical-campus/" target="_blank"><i class="logo fa fa-linkedin"></i></a>
        <a href="https://discord.gg/knZuyUsU" target="_blank"><i class="logo fa-brands fa-discord"></i></a>
        <p>Copyright &copy; 2022 Cesta</p>

    </footer>
</body>
</html>