<%- include("./partials/header"); %>

<section id="about">
    <div class="container about-container" style="padding-left: 50px; padding-right: 50px;">
        <h1 id="about-heading" class="my-5">About Us</h1>
        <div class="mt-5">
            <img class="cestaLogo" src="/images/CestaLogo.jpg" alt="">
            <p class="about-cesta"">
                CESTA, Computer Technical Society functions under the Computer
                Science and Engineering Department. This society runs by the
                students under the guidance of faculty and technical society heads.
            </p>
        </div>
        <div class="core-members mt-5 mb-3">
            <h2 class="mb-5">Core Team Members</h2>
            <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/ShivanshSaxena.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shivansh Saxena</h5>
                    <h6 class="card-subtitle mb-2 text-muted">President</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/PragyaBharti.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pragya Bharti</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/NishantBharti.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nishant Bharti</h5>
                    <h6 class="card-subtitle mb-2 text-muted">General Secretary</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/KartickChauhaan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kartick Chauhaan</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Vice General Secretary</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/ArpitKumarSingh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Arpit Kumar Singh</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Secretary</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/HiteshBardia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hitesh Bardia</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Treasurer</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/ShagunSrivastava.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shagun Srivastava</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Event Coordinator</h6>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/AgrimKulshrestha.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Agrim Kulshrestha</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Event Coordinator</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="cesta-membership mt-5">
            <h2 class="mb-4">Cesta Membership</h2>
            <ul>
                <li>Membership of CESTA is open to all students of DTC.</li>
                <li>All the members are involved in developing society purposes.</li>
                <li>The officers shall be President, Vice-President, General Secretary, Vice-General Secretary, Secretary and Treasurer.</li>
                <li>Officers are elected through the elections.</li>
                <li>Nominations will be filled before the elections.</li>
            </ul>
        </div>
    </div>
</section>

<%- include("./partials/footer"); %>