<%- include("./partials/header"); %>

<section id="event-section">
    <h1 class="my-5 ms-5 ps-4">Cesta Events</h1>
    <div id="events" class="container">
        <h3 class="my-4">Web-o-thon</h3>
        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
            <div class="col">
                <div class="card h-100 bg-dark">
                <img src="/images/webothon.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Web-o-thon</h5>
                </div>
                </div>
            </div>
        </div>

        <h3 class="my-4">Gamescon</h3>
        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
        <div class="col">
            <div class="card h-100 bg-dark">
            <img src="/images/gamescon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gamescon</h5>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
            <img src="/images/chess.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Chess</h5>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
            <img src="/images/ludo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ludo</h5>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
            <img src="/images/bgmi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">BGMI Tournament</h5>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark">
            <img src="/images/ideothon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ideothon</h5>
            </div>
            </div>
        </div>
        </div>

        <h3 class="my-4">Take-o-Quiz</h3>
        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
        <div class="col">
            <div class="card h-100 bg-dark">
            <img src="/images/techoquiz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tech-o-Quiz</h5>
            </div>
            </div>
        </div>
    </div>
</section>

<%- include("./partials/footer"); %>