<%- include("./partials/header"); %>

<section id="features" style="padding: 20px;">
    <div class="container">
        <h1 class="mt-5 mb-4">Organized Events</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col col-sm-6 col-xs-12">
                <div class="card h-100 bg-dark">
                <img src="/images/valorant.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Valorant</h5>
                </div>
                </div>
            </div>
            <div class="col col-sm-6 col-xs-12">
                <div class="card h-100 bg-dark">
                <img src="/images/th.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Treasure Hunt</h5>
                </div>
                </div>
            </div>
            <div class="col col-sm-6 col-xs-12">
                <div class="card h-100 bg-dark">
                <img src="/images/techonetes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Techonetes</h5>
                </div>
                </div>
            </div>
            <div class="col col-sm-6 col-xs-12">
                <div class="card h-100 bg-dark">
                <img src="/images/cs.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Counter Strike</h5>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("./partials/footer"); %> 